* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.estado-consulta {
    color: white;
}

.estado-consulta {
    display: grid;
}

.estado-h3 {
    grid-column: span 3;
    margin: 5px;
}


.estado-grupo {
    margin: 5px;
}