/* Default styles */

h1,
h2,
h3 {
    text-align: center;
}

/* Consulta Form */

.consulta-form {
    background-color: rgba(76, 216, 118, 255);
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.especialidad,
.fecha {
    border: 1px solid;
    border-radius: 3px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    background-color: lightgray;
}


.btn-enviar {
    text-transform: uppercase;
    color: rgba(76, 216, 118, 255);
    border: none;
    padding: 7px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
}

/* Formulario */

.formulario {
    text-align: center;
    background-color: rgba(76, 216, 118, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 190px;
}

.campo label {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo input {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: transparent;
    outline: none;
    text-align: center;
    width: 100%;
}

.campo button {
    background-color: black;
    color: rgba(76, 216, 118, 255);
    text-transform: uppercase;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

/* Estados */

h1 {
    text-align: center;
}

.estado-consulta {
    text-align: center;
}

.datos h3 {
    text-transform: uppercase;
    color: white;
}

.datos p {
    display: flex;
    display: inline-block;
    justify-content: center;
    margin-right: 20px;
    color: white;
}

.burbujas {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.burbuja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
}

.burbuja i {
font-size: 50px;
}

.burbuja span {
    text-align: center;
}

.sh {
    display: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.burbuja:hover + .sh {
    display: inline-block;
}

.estado-consulta {
    background-color: black;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
}

.advertencia {
    color: red;
    font-size: 14px;
}

/* Media Queries */

@media (max-width: 768px) {
  /* Adjust styles for screens up to a maximum width of 768px */

.consulta {
    height: auto;
    padding: 10px;
}

.consulta-form {
    padding: 10px;
    padding-bottom: 20px;
}

.inputs {
    flex-direction: column;
    align-items: flex-start;
}

.especialidad,
#doctor,
.fecha {
    width: 100%;
}

.doctor input {
    margin-bottom: 10px;
}

.btn-enviar {
    margin-left: 0;
    margin-top: 10px;
}
}

@media (max-width: 480px) {
  /* Adjust styles for screens up to a maximum width of 480px */

.especialidad,
#doctor,
.fecha {
    width: 100%;
}

.campo button {
    font-size: 12px;
}
}

@media (max-width: 320px) {
  /* Adjust styles for screens up to a maximum width of 320px */

.campo button {
    padding: 5px;
    font-size: 10px;
}
}


