.consulta-form h2 {
    text-align: center;
  }
  
  .consulta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66vh; 
    margin: 0 auto;
  }
  
  .consulta-form {
    background-color: rgba(76, 216, 118, 255);
    max-width: 1000px; /* Ajusta el ancho máximo según tus necesidades */
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
  }
  
  .inputs {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .especialidad {
    border: 1px solid;
    border-radius: 3px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    background-color: lightgray;
  }
  
  .doctor input {
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 40px;
    background-color: lightgray;
    margin-right: -20px;
  }
  
  .fecha {
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
    width: 300px;
    background-color: lightgray;
  }
  
  .btn-enviar {
    text-transform: uppercase;
    color: rgba(76, 216, 118, 255);
    border: none;
    padding: 7px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
  }
  
  /* formulario */
  .formulario h2 {
    text-align: center;
    text-transform: uppercase;
  }
  
  .formulario-p {
    background-image: linear-gradient(
      175deg,
      #003549 0,
      #003342 6.25%,
      #002f3a 12.5%,
      #002a32 18.75%,
      #012529 25%,
      #061f20 31.25%,
      #061817 37.5%,
      #030f0e 43.75%,
      #000000 50%,
      #000000 56.25%,
      #000000 62.5%,
      #000000 68.75%,
      #000000 75%,
      #000000 81.25%,
      #000000 87.5%,
      #000000 93.75%,
      #000000 100%
    );
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  
  .formulario {
    text-align: center;
    background-color: rgba(76, 216, 118, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .campo label {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .campo input {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: transparent;
    outline: none;
    text-align: center;
  }
  
  .campo button {
    background-color: black;
    color: rgba(76, 216, 118, 255);
    text-transform: uppercase;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }
  
  /* estados */
  h1{
    text-align: center;
  }
  
  .estado-consulta{
    text-align: center;
  }
  
  .datos h3{
    text-transform: uppercase;
    color: white;
  }
  
  .datos p{
    display: flex;
    display: inline-block;
    justify-content: center;
    margin-right: 20px;
    color: white;
  }
  
  .burbujas {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  .burbuja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
  }
  
  .burbuja i {
    font-size: 50px;
  }
  
  .burbuja span {
    text-align: center;
  }
  
  .sh{
    display: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
  }
  
  .burbuja :hover + .sh{
    display: inline-block;
  }
  
  .estado-consulta{
    background-color: black;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
  }
  
  