<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="consulta">
        
        <form action="">
            <select name="especialidad" id="especialidad">
                <option value="pepe">Pepe</option>
                <option value="gato">Gato</option>
                <option value="loro">Loro</option>
            </select>
    
            <input type="text">
    
            <input type="date">

            <button>
                consultar
            </button>

        </form>
        

    </div>
</body>
</html>