<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/icono.ico">
    <link rel="stylesheet" href="../styles/kapu.style.css">
    
    <title>Clínica San Judas</title>
  </head>

  <body>
    <%- include('partials/menu.ejs') %>

    <div class="formulario-p">

      <form class="formulario" method="post" id="formulario">
        
        <h2>CITA</h2>

        <div class="campo" id="campo-nombre">
          <label for="">nombre</label>
          <input type="text" id="nombre" name="nombre"/>
          <p class="advertencia">Solo letras, 4-16 caracteres</p>
        </div>

        <div class="campo" id="campo-telefono">
          <label for="">telefono</label>
          <input type="text" id="telefono" name="telefono"/>
          <p class="advertencia">9 digitos, solo numeros</p>
        </div>

        <div class="campo" id="campo-dni">
          <label for="">dni</label>
          <input type="text" id="dni" name="dni"/>
          <p class="advertencia">8 digitos, solo numeros</p>
        </div>

        <div class="campo">
          <label for="">especialidad</label>
          <input type="text" id="especialidad" name="especialidad" value="<%= especialidad %>"/>
        </div>

        <div class="campo">
          <label for="">doctor</label>
          <input type="text" id="doctor" name="doctor" value="<%= doctor %>" />
        </div>

        <div class="campo">
          <label for="">fecha</label>
          <input type="text" id="fecha" name="fecha" value="<%= fecha %>" />
        </div>

        <div class="campo">
          <button type="submit">estado</button>
        </div>

      </form>
    </div>

    <script src="js/kapu.js"></script>
    
  </body>
</html>
