<header>
    <link rel="stylesheet" href="../menu.style.css">
    <div class="menu">
        <h1 class="page-title">Hospital</h1>
        <nav class="navigation-menu">
            <ul>
                <li><a href="/" class="menu-item">Home</a></li>
                <li><a href="/consultas" class="menu-item">Consultas</a></li>
            </ul>
        </nav>
    </div>
</header>